:root{
    --board: #2708a0;
    --yellow: #FFD400;
    --red: #FF0022;
    --background: #fff
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.board{
    width: fit-content;
    display: grid;
    grid-template-columns:repeat(7, 50px);
    gap: 10px;
    background-color: var(--board);
    padding: 25px;
}

.slot{
    background-color: var(--background);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.col:hover{
    cursor: pointer;
    width: 100%;
    background-color: black;
}

.r{
    background-color: var(--red);
}

.y{
    background-color: var(--yellow);
}

.win-screen{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.win-title{
    color: white;
    font-size: 50px;

}

.win-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.win-token{
    width: 100px;
    height: 100px;
    margin: 25px;
    border-radius: 100%;
}

.play-button{
    padding: 25px 35px;
    background-color: var(--board);
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    .slot{
        width: 25px;
        height: 25px;
    }

    .board{
        grid-template-columns: repeat(7, 25px);
    }
}